.header .container {
    border-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    position: relative;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 2rem;
}

.li-title {
    font-size: 6rem;
    font-weight: 700;
    display: block;
    opacity: 0.2;
    text-transform: uppercase;
}